body{
    background-color: rgb(234, 234, 234);
}

#carrusel{
    max-width: 1200px;

    margin: 0 auto;
}

#dcarteles{
    max-width: 1200px;

    margin: 0 auto;
    padding: 40px 30px;
    align-content: center;
}
#mascotas{
    max-width: 1200px;
    padding: 40px 30px;
    margin: 0 auto;
}

#link {
    text-align: right;
    padding: 30px ;
    color: chocolate;
}
#link a{
    color: chocolate;
}

#link  a:hover{
    color: brown;
}

#todasmascotas{
    max-width: 1200px;
    padding: 40px 30px;
    margin: 0 auto;
}
#informacion{

    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 30px;
    font-size: large;
    
}
#allow{
    max-width: 1000px;
    padding: 40px 30px;
    margin: 0 auto;
}

#todasmascotas h4{
    padding: 30px 0px;
}

body{
    background-color: rgb(255, 251, 213);
}

#allow #contacto{

    padding: 30px 0px;
    
}
#small{
    max-width: 1000px;
    padding: 40px 30px;
    margin: 0 auto;
}

#cuerpoB {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 30px;

}

#cuerpoB h5{
    
    padding: 30px 30px;

}
#phtpjavo{
    padding: 30px;
    max-width: 1200px;
  margin: 0 auto;
}


#CuerpoC{
    max-width: 1200px;
    margin: 0 auto;
}
#phtpjavi{
    padding: 30px;
    
  margin: 0 auto;

}



